# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log
*.out
*.pid

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
firebase-credentials.json

# Editor folders
.vscode/
.idea/
*.swp

# Build output
dist/
build/
tmp/
temp/
.cache/
coverage/